DATABASE_URL="postgresql://neondb_owner:npg_03nCLPgISQir@EP-POOLER-HOST/DB_NAME?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_03nCLPgISQir@EP-DIRECT-HOST/DB_NAME?sslmode=require&channel_binding=require"
SESSION_SECRET="5743629788"
